/* ------- Screen ------- */
$min-mobile: 320px;
$mobile: 480px;
$tablet: 768px;
$big-tablet: 1024px;
$hd-screen: 1366px;
$desktop: 1400px;
$lg-desktop: 1920px;
$header-height: 100px;
$aside-l-w: 575px;
$tabs-w: 88px;
